<div class="email-text">
  <h4>Hallo <strong>{{ nama }}</strong>,</h4>
  <p>Terimakasih banyak sudah berbelanja di rushyrealm.com. Saat ini order kamu sedang kita proses, dan sebentar lagi team kami akan meng-SMS kamu untuk detil pembayaran nya.</p>
  <p>Harap simpan nomor order ID kamu di bawah ini untuk: <a href="http://rushyrealm.com/konfirmasi/"><u>konfirmasi pembayaran</u></a></p>
  <p>---</p>
  <p>Nama Kamu: <strong>{{ nama }}</strong></p>
  <p>Kode Barang: <strong>{{ kode_barang }}</strong>
  <p>Order ID Kamu:</p>
  <h2 style="background-color: rgb(231, 76, 60); width: 200px; height: auto; padding: 10px; text-align: center; border-radius: 5px; color: rgb(255, 255, 255);"><strong>{{ id_order }}</strong></h2>
  <p>---</p>
  <br />
  <p>Thanks, RUSHY REALM Inc.</p>
  <p>- JL. Mancasan Indah, no 35. Depok, Sleman, Yogyakarta (WA/SMS: 087738321213)</p>
</div>