{% extends "app_product/product_base.html" %}
{% load staticfiles %}
{% block title %}Contact | RUSHY REALM{% endblock %}
{% block content %}

<div class="container-custom-3">
	<div class="row">
		<div class="col-xs-12">
			<div class="rushy-contact-wrapper">
				<p><i><strong>Instagram</strong></i></p>
				<p>@rushyrealm</p>
				<br />
				<p><i><strong>Email</strong></i></p>
				<p>hello@rushyrealm.com</p>
				<br />
				<p><i><strong>WhatsApp</strong></i></p>
				<p>+62 811 231 794</p>
				<br />
				<p><i><strong>SMS</strong></i></p>
				<p>+62 811 231 794</p>
				<br />
				<p>#rushyrealm #rushyunited</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}