{% extends "app_product/product_base.html" %}
{% load staticfiles %}
{% block title %}About | RUSHY REALM{% endblock %}
{% block content %}


<div class="container-custom-3">
	<div class="row">
		<div class="col-xs-12">
			<div class="rushy-about-wrapper">

				<p>WXG is a creative synergy of 4 souls that collided in early 2014. We take style more seriously than a hipster takes his coffee, because we happen to believe that ours is cooler than many out there. Our sense of style derives from the books we read, the backpacking road trips (and occasional luxury trips with folks), the songs we listen to and the random people we meet on good and bad days. It is a series of clues that define who we are (because opening our mouths to explain ourselves would ruin the curated brood we practice every morning before heading out).</p>

				<p>WXG is a collection of carefully selected style essentials with a little ruggedness to it. It is aloof but not too dandy, it has a bit of the 'I woke up like this' attitude, sans the hangover eyes. It is rebellious on the outside, and visionary in the inside. It is an organized chaos.</p>

				<p>WXG Beings Are.
				Quietly confident. Such trait derives from the constant search for new knowledge through the happenings around them. They carry conversations well and charm with wit. A little rugged. They may even grow a beard out of curiosity. Such attitude contrasts with their sensitive interior. The edges serve both as his wall of defense and a reflection of the effortless trait they were born with. Global citizens, not to be confused with a normcore (another word for 'lazy') believers. A bit of Brit quirks, a bit of Parisian savoir vivre, a bit of Asian put-together.</p>

				<p>Hopes & Dreams
				Beyond the quality materials and impeccable fits, there is a hidden message in each of our product. It says: Read more! Travel more! Live more!</p>

			</div>
		</div>
	</div>
</div>

{% endblock %}