<div class="email-text">
  <h4>Hallo, ada yang konfirmasi pembayaran nih bree!</h4>
  <p>Detil klien di bawah ini bre, jangan lupa juga cek di halaman admin! Dan kalau sudah oke segera di kirim paket nya ya! (Kalo bingung tanya ZEA)</p>
  <p>---</p>
  <p>Nama Klien: <strong>{{ nama }}</strong></p>
  <p>Jumlah Transfer: <strong>{{ jumlah_transfer }}</strong></p>
  <p>Tanggal Transfer: <strong>{{ tanggal_transfer }}</strong></p>
  <p>Tanggal Konfirmasi: <strong>{{ tanggal_konfirmasi }}</strong></p>
  <p>Order ID Klien:</p>
  <h2 style="background-color: rgb(231, 76, 60); width: 200px; height: auto; padding: 10px; text-align: center; border-radius: 5px; color: rgb(255, 255, 255);"><strong>{{ id_order }}</strong></h2>
  <p>---</p>
  <br />
  <p>RUSHY REALM AWESOME AUTO EMAIL SYSTEM</p>
  <p>- JL. Mancasan Indah, no 35. Depok, Sleman, Yogyakarta (WA/SMS: 087738321213)</p>
</div>
